body {
  background: #f857a6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff5858,
    #f857a6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff5858,
    #f857a6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.h1Hr {
  height: 5px;
  background-color: white;
}

.h2Hr {
  height: 2px;
  background-color: white;
  width: 95%;
}

h1 {
  color: white;
  margin-top: 10%;
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  margin-right: 100%;
}

h2 {
  margin-left: 25%;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  margin-bottom: 5%;
}

#input {
  border-radius: 12px;
  border: none;
  /* opacity: 0.2; */
  background-color: white;
  height: 45px;
  width: 500px;
  font-size: 1em;
  padding-left: 15px;
}

#input:focus {
  outline: 0;
}

button {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  font-size: 15px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  margin-top: 20%;
  margin-bottom: 10%;
  border-radius: 12px;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

img {
  border-radius: 15px;
  margin: 5px;
  align-self: center;
  max-height: 200px;
  max-width: 100%;
  transition: top ease 0.5s;
  position: relative;
  top: 0;
}

img:hover {
  top: -11px;
}

.container {
  display: flex;
  justify-content: center;
}

.trendingDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.remove {
  display: none;
}

@media only screen and (max-width: 960px) {
  .container {
    flex-flow: column;
    align-content: center;
  }

  h1 {
    width: 50%;
  }

  #input {
    margin-left: 10px;
    width: 90%;
  }

  button {
    margin-left: 50px;
  }

  img {
    margin-left: 90px;
    max-width: 50%;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
